@import url('./markdown.css');
@import 'highlight.js/styles/atom-one-dark.css';

html,
body,
#app {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
}

html.dark {
    background: #121212;
    color-scheme: dark;
}
