.prose pre:not(.shiki) {
    padding: 0;
}
h1,h2,h3 {
    font-weight: bold!important;
    margin-bottom: 0.5rem;
}
h1 {
    position: relative;
    font-size: 1.75rem!important;
    padding-left: 24px;
    @apply text-primary;
    &::after {
        content: "#";
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        /* width: 4px; */
        /* height: 20px; */
        /* background: #1d77ff; */
        margin-top: 0.5rem;
    }
}

h2 {
    font-size: 1.5rem!important;
}
h3 {
    font-size: 1.25rem!important;
}

p {
    margin-bottom: 1rem;
    font-size: 1.14rem;
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}
.table-responsive table thead {
    background-color: #f5f5f5;
}
.table-responsive table th,
.table-responsive table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

.table-responsive table td code {
    font-size: 0.9rem;
    background-color: #ffebeb;
    padding: 2px 4px;
    border-radius: 4px;
    color: #ff4d4d;
}

.table-responsive table a {
    color: #1d77ff;
    text-decoration: none;
}
.table-responsive table a::before {
    content: "🔗";
    margin-right: 4px;
    font-size: 0.6rem;
}