.n-dropdown-option-body.active {
  color: var(--n-option-text-color-active) !important;
  background-color: rgba(var(--n-option-text-color-active), 0.5) !important;
}

.text-18px {
  font-size: 18px;
}
