.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

$justify-values: (
  'center': center,
  'between': space-between,
  'end': flex-end
);

@each $name, $value in $justify-values {
  .justify-#{$name} {
    justify-content: $value;
  }
}


// gap 间距配置
$gap-scale: 0.25rem;  // 0.25rem = 4px
@for $i from 0 through 8 {
  .gap-#{$i} {
    gap: #{$i * $gap-scale};
  }
}